<h1>Rotten Mangoes</h1>
    <%= link_to "Submit a movie!", new_movie_path %>
    <hr>
    <%= form_tag("/", method: "get") do %>
      <%= label_tag(:title, "Search for a movie by:    Movie title:") %>
      <%= text_field_tag(:title) %>
      <%= label_tag(:director, "Director:") %>
      <%= text_field_tag(:director) %>
      <%= label_tag(:run_time, "Running time:") %>
      <%= select_tag(:run_time, options_for_select([['', 0], ['Under 90 minutes', 1], ['Between 90 and 120 minutes', 2], ['Over 120 minutes', 3]])) %>
      <%= submit_tag("Submit") %>
    <% end %>
    <hr>
    <% @movies.each do |movie| %>
      <%= link_to image_tag(movie.image), movie_path(movie) %>
      <h2><%= link_to movie.title, movie_path(movie) %> | <%= movie.review_average %>/10</h2>
      <h3><%= formatted_date(movie.release_date) %></h3>
      <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
      <p><%= movie.description %></p> 
      <hr>
    <% end %>