<h1>Rotten Mangoes ADMIN</h1>

<%= paginate @users %>

<%= link_to "Back to all movies", movies_path %>
<br/>

<hr>
<% @users.each do |user| %>
  <%= user.id %> - 
  <strong><%= user.full_name %></strong>
  <%= user.email %>
  <%= user.is_admin %>
  <hr>
  <% end %>

