<h1>Rotten Mangoes</h1>
<%= link_to "Back to all movies", movies_path %>
<br/>

<hr>
<% @users.each do |user| %>
  <%= user.id %>
  <%= user.full_name %>
  <%= user.email %>
  <%= user.is_admin %>
  <hr>
  <% end %>

